<!DOCTYPE html>
<html>
<head>
    <title>Crack Your Way</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/qr_packed.js"/>
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
    <style type="text/css">
        textarea{
            resize: none;
        }
        .insert{
            width: 180px;
        }
        #opt_a, #opt_b, #opt_c, #opt_d {
            display: inline-block;
        }
    </style>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
	{{{ body }}}
</body>
</html>