<div class="container">
    <div class="col-sm-2">&nbsp</div>
    <div class="col-sm-8">
        <center><h1 style="font-size: 35px;" class="title">Crack Your Way</h1></center>
        <center><h1 style="font-size: 20px;">Welcome</h1></center>
        <center><h3 style="font-size: 20px;">To the most controversial event of all time</h3></center>
        <center><h3 style="font-size: 10px;">Please type your team name</h3></center>
        <br>
        <form class="form-horizontal" id="form" action="/submit" method="post">
            <center>
                <div class="form-group">
                    <input type="text" class="form-control insert" id="team_name" placeholder="Funky Team Name" name="team_name">
                </div>
            </center>
            <center><button type="submit" class="btn btn-default starButton">Submit</button></center>
        </form>
    </div>
    <div class="col-sm-2">&nbsp</div>
</div>